:root {
    --dark-white: rgba(247, 247, 247, 1);
    --white: #FFFFFF;
    --bckgr-dark: rgba(17, 19, 25, 1);
--second-grey: rgba(157, 164, 189, 0.6);
    --grey-text: rgba(157, 164, 189, 1);
    --black-text: rgba(48, 48, 48, 1);
    --orange-text: rgba(255, 108, 0, 1);
    --white-text: rgba(255, 255, 255, 1);
    --dark-grey: rgba(85, 85, 85, 1);}


.hidden-title { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


body {font-family: Open Sans, sans-serif;
    letter-spacing: 0.02em;
    background-color: (var--white);
    color: var(--black-text);
}

    h1, h2, h3, h4, p {margin: 0;}

ul {list-style: none;
margin: 0;
padding: 0;}

a {
    text-decoration: none;
    color: currentColor;}

html {scroll-behavior: smooth;}

img {display: block;
height: auto;}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   margin-right: auto;
   margin-left: auto;
}


/* HEADER*/
.header {position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    background-color:g;
    
}



.header-container {display: flex;
align-items: center;}




.navigation {
    
    margin-left: 70px;}


.nav-list {
    display: flex;
    align-items: center;
padding-inline-start: 0;
}

.nav-list .nav-item:not(:last-child) {margin-right: 40px;
}

.tel {display: flex;
    align-items: center;
    margin-left: auto;
    
}



.nav-link {
    color: var(--white-text);
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        padding-top: 52px;
            padding-bottom: 52px;
            position: relative;
            transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.nav-link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--orange-text);
    border-radius: 20%;
    position: absolute;
   bottom: 0;
    left: 0;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}



.nav-link:hover, .nav-link:focus {color: var(--orange-text); }




.tel-link {
    color: var(--white-text);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 40px;
    padding-top: 52px;
        padding-bottom: 52px;
        transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tel-link:hover, .tel-link:focus {color: var(--orange-text);
}


.book-button {color: var(--white-text);
font-weight: 600;
font-family: inherit;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
min-width: 160px;
display: inline-block;
text-align: center;
border: 1px solid #FF6C00;
    border-radius: 25px;
cursor: pointer;
padding: 12px 20px;
background-color: transparent;
animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite forwards;
transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}





@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5x);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(2px);
              transform: translateX(2x);
    }
    80% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
 
  






/*SLIDER*/



.slider-link {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-link:hover, .slider-link:focus {color: var(--orange-text);}


       .slider-item:first-child .slider-link {
            display: flex;
            align-items: center;
        }


.slider-item:first-child .slider-link::before {
    display: block;
    content: "";
    width: 60px;
    height: 0.74px;
    background-color: rgba(48, 48, 48, 1);
    margin-right: 40px;
}



.slider-item:not(:last-child) {
    margin-right: 40px;
}

 /*HERO*/
.hero {position: relative;
    padding-top: 272px;
    padding-bottom: 206px;
    background-color: rgba(25, 28, 38, 0.2);
background-image: url(../images/slider/Slider3.jpg), linear-gradient(to right, white 12%, rgba(25, 28, 38, 0.2) 12%);
background-repeat: no-repeat;
background-size: 1125px 680px, contain;
margin-left: auto;
margin-right: auto;
max-width: 1280px;
height: 680px;
background-position: top right, center;}







.hero-container {display: flex;

}


.slider-list-group {flex-basis: 100px;
display: flex;
align-items: flex-end;


}

.slider-list {display: flex;
transform: translateX(40px) translateY(180px) rotate(-90deg);
transform-origin: left top ;
}



.hero-group {
    width: 500px;
}











.pagination-list {display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 55px;
    bottom: 325px;
width: 18px;
}

.pagination_item.active {width: 100%;
    background-color: var(--white);}

.pagination_item {
    width: 8px;
    height: 2px;
    background-color: var(--grey-text);
}



.pagination_item:not(:last-child) {margin-bottom: 12px;}



.hero-uppertitle {display: flex;
    align-items: center;
    font-weight: 600;
        font-size: 11px;
        line-height: 1/36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--second-grey);
        margin-bottom: 20px;
        animation: fade-left-to-right 2s;
}

.hero-uppertitle::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}


.hero-title {
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 1.18;
        letter-spacing: 0.05em;
        color: var(--white);
        margin-bottom: 20px;
        animation: tracking-in-expand 2s;
}


@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }










.hero-subtitle {
font-size: 18px;
line-height: 1.67;
color: var(--grey-text);
animation: fade-bottom-to-top 2s;
}

@keyframes fade-left-to-right {
    from {transform: translateX(-150px);
        opacity: 0;}
    
    to {transform: translateX(0);
        opacity: 1;
    }  }

    @keyframes fade-bottom-to-top {
        from {transform: translateY(150px);
            opacity: 0;}
        
        to {transform: translateY(0);
            opacity: 1;
        }  }
        

.back-button {position: absolute;
    bottom: 49px;
    right: 141px;
    
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    border-bottom-width: 60px;
    min-width: 60px;
    height: 24px;
    padding: 0 13px 8px 0;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid var(--second-grey);
    background-color: transparent;
    color:var(--second-grey);
    text-align: right;
} 

.ahead-button {position: absolute;
    bottom: 49px;
    right: 55px;
    
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    border-bottom-width: 60px;
    min-width: 60px;
    height: 24px;
    padding: 0 0 9px 13px;
    cursor: pointer;
    border: none;
        border-bottom: 1px solid var(--white);
        background-color: transparent;
        color: var(--white);
        text-align: left;
}


.item-herobutton:not(:last-child) {margin-right: 26px;}

/*СЕКЦИЯ О НАС*/

.about {padding-top: 130px;
padding-bottom: 130px;}


.about-container {display:flex;}


.about-list {display: flex;}


.about-item:not(:last-child) {margin-right: 30px;}
.about-item:last-child {margin-right: 64px;
}

.about-item {overflow: hidden;}
.about-img {transition: transform 450ms cubic-bezier(0.075, 0.82, 0.165, 1);}

.about-item:hover .about-img {transform: scale(1.3);
}



.about-group {flex-basis: 500px;}

.about-uppertitle {display: flex;
    align-items: center;
    font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.about-uppertitle::before{
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(48, 48, 48, 1);
    margin-right: 20px;
}


.about-title {
font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

}

.about-subtitle {
font-size: 18px;
line-height: 1.67;
color: var(--dark-grey);
margin-bottom: 20px;}

.about-description {
font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
color: var(--dark-grey);
margin-bottom: 40px;
}


.about-button {
        color: var(--black-text);
        background-color: transparent;
        font-weight: 600;
        font-family: inherit;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        background-color: var(--white);
        text-transform: uppercase;
        min-width: 160px;
        border: 1px solid #FF6C00;
        border-radius: 25px;
        cursor: pointer;
        padding: 12px 20px;
        transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    
    
    .about-button:hover, .about-button:focus {background-color: var(--orange-text);}



/*PRICES*/
.prices {margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    background-color: var(--bckgr-dark);
    background-image: url(../images/bg-price.png);
    background-repeat: no-repeat;
    background-size: 1280px 718px;
    max-width: 1280px;
    height: 718px;
padding-top: 130px;
padding-bottom: 130px;}


.prices-uppertitle {display: flex;
    align-items: center;
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--second-grey);
        margin-bottom: 20px;
}

.prices-uppertitle::before{
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}



.prices-title {
font-weight: 700;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
color: var(--white);
margin-bottom: 44px;
}

.prices-list {display: flex;
justify-content: center;
margin-bottom: 50px;}

.prices-item {
    flex-basis: calc(100%/2);
}


.inner-list {display: block;
    padding: 30px 40px;
background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}


.inner-list-dark {background-image: gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}


.inner-item {display: flex ;
    justify-content: space-between;
    align-items: baseline;
font-size: 18px;
line-height: 1.67;
color: var(--grey-text);
}


.inner-item:not(:last-child) {margin-bottom: 20px;}

.inner-item {display:flex;
    align-items: baseline;
}

.inner-item::after {display: block;
content: "";
height: 1px;
flex-grow: 1;
background-color: rgba(157, 164, 189, 0.12);
margin-left: 6px;
margin-right: 6px;
order: 1;

}

.inner-text {order: 2;}


.prices-button {
      color: var(--white-text);
        background-color: transparent;
            font-weight: 600;
            font-family: inherit;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            min-width: 160px;
            border: 1px solid #FF6C00;
            border-radius: 25px;
            cursor: pointer;
            padding: 12px 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        
        
        
        .prices-button:hover, .prices-button:focus {background-color: var(--orange-text);}

                /*BENEFITS*/

.benefits {
    padding-top: 130px;
    padding-bottom: 130px;
}



.benefits-container {display: flex;
    justify-content: center;

}

.benefits-list {display: flex;
   width: 370px;
    flex-wrap: wrap;
gap: 30px;}



.benefits-item {display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 20px;
  width: 170px;

    background-color: var(--dark-white);

}


.plus {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
color: var(--orange-text);
}




.benefits-amount {display: block;
    text-align: center;
font-weight: 700;
font-size: 42px;
line-height: 1.36;
letter-spacing: 0.05em;}



.benefits-text {display: block;
    text-align: center;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
margin-top: 6px;}


.benefits-uppertitle {display: flex;
    align-items: center;
font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.benefits-uppertitle::before{
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(48, 48, 48, 1);
    margin-right: 20px;
}

.benefits-title-group {width: 500px;
margin-left: 130px;}



.benefits-title {
font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}



.benefits-subtitle {
font-size: 18px;
    line-height: 1.67;
color: var(--dark-grey);

}

/*TEAM */


.team {background-color: var(--dark-white);
padding-top: 130px;
padding-bottom: 130px;
max-width: 1280px;
margin-left: auto;
margin-right: auto;

}
.team-uppertitle {display: flex;
align-items: center;
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.team-uppertitle::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(48, 48, 48, 1);
    margin-right: 20px;
}

.img-box {overflow: hidden;}

.team-img {transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);}

.img-box:hover .team-img {transform: scale(1.4);
}





.team-title {
    font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        margin-bottom: 44px;
}

.team-list {display: flex;}
.team-item:not(:last-child) {margin-right: 30px;}

.member-group {display: flex;
    flex-direction: column;
    padding-top: 30px;
padding-bottom: 30px;
text-align: center;}



.member-title {
    font-size: 18px;
        line-height: 1.39;
        margin-bottom: 8px;
}


.member-subtitle {
    color: var(--orange-text);
font-size: 14px;
    line-height: 1.36;
    margin-bottom: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-item:not(:last-child) {margin-right: 10px;}


.social-link {
    width: 44px;
    height:44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;   
}

.social-icon {
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-link:hover .social-icon, .social-link:focus .social-icon {fill: var(--orange-text);}





/*PORTFOLIO*/

.portfolio {padding-top: 130px;
padding-bottom: 130px;}

.portfolio-subtitle {display: flex;
    align-items: center;
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 44px;
}

.portfolio-subtitle::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(48, 48, 48, 1);
    margin-right: 20px;
}


.portfolio-list {display: flex;}

.portfolio-item {position: relative;
    overflow: hidden;}

.portfolio-item::before {position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-35deg) translate(-60px, 0);
   
    content: attr(data-sale);
    display: flex;
    width: 100%;
    height: 40px;
    background-color: black;
    opacity: 0.5;
   align-items: center;
   justify-content: center;
    color: var(--white);
   
}



.portfolio-item:not(:last-child) {margin-right: 30px ;}


/*CONTACTS*/

.contacts {margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: rgba(25, 28, 38, 1);
    background-image: url(../images/contacts.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top  left calc(50% + 312px);
        max-width: 1280px;
        height: 644px;}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form {display: flex;
flex-direction: column;}

.form-group {display: flex;}

.order-title {
font-family: Raleway, sans-serif;
color: var(--white-text);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.label-text {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.4);}


.submit-button {
        color: var(--white-text);
        background-color: transparent;
        font-weight: 600;
        font-family: inherit;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        width: 160px;
        border: 1px solid #FF6C00;
        border-radius: 25px;
        cursor: pointer;
        padding: 12px 20px;
        transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    

    
    .submit-button:hover, .submit-button:focus {background-color: var(--orange-text);}

    .contacts-group {display: flex;
    flex-direction: column;
margin-left: 100px;}


.contact {margin-top: 40px;
margin-bottom: 70px;
width: 270px;}


.contacts-title {
font-family: Raleway, sans-serif;
    color: var(--white-text);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.contacts-item {
   
font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    color: var(--grey-text);
}

.contacts-item:not(:last-child) {margin-bottom: 20px;}

.contacts-link {display: flex;
    align-items: center;
font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: var(--grey-text);
    text-decoration: none;
}

.map-icon {margin-right: 20px;}

.contacts-subtitle {display: flex;
    align-items: center;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--white-text);
margin-bottom: 20px;}

.contacts-subtitle::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--grey-text);
    margin-right: 20px;
}

.contacts-timetable {
    font-size: 18px;
        line-height: 1.67;
        color: var(--grey-text);
}



/*FOOTER*/

.footer-container {
    display: flex;
    align-items: baseline;
}

.copyright {
    color: var(--grey-text);
font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}


.footer-list {display: flex;
align-items: center;
margin-left: auto;}

.footer-item:first-child {
    margin-right: 40px;
}


.footer-item:first-child .footer-link{
    display: flex;
    align-items: center;
}

.footer-item:first-child .footer-link::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(48, 48, 48, 1);
    margin-right: 40px;
}



.footer-link {display: block;
font-weight: 600;
font-size: 11px;
line-height: 1.36;
color: var(--black-text);
padding-top: 56px;
padding-bottom: 56px;}

.scroll-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--orange-text);
    opacity: 0.8;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
}


.arrow {fill: var(--white);}


/*
 --dark-white: rgba(247, 247, 247, 1);
 --white: #FFFFFF;
--dark-grey: rgba(85, 85, 85, 1);
 --bckgr-dark: rgba(17, 19, 25, 1);



--second-grey: rgba(157, 164, 189, 0.6);
 --grey-text: rgba(157, 164, 189, 1);
 --black-text: rgba(48, 48, 48, 1);
 --orange-text: rgba(255, 108, 0, 1);
 --white-text: rgba(255, 255, 255, 1);
 }